@import url('https://fonts.cdnfonts.com/css/miama');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* Universal Styles */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Shared Styles */
.white-color{
    color: rgb(255, 255, 255);
}
.light-gray-color{
    color: rgba(255, 255, 255, 0.5);
}
.orange-color{
    color: rgb(230, 83, 60);
}
.section-gap{
    margin-top: 100px;
}
.section-title{
    font-size: 3.3rem;
    color: #FFFFFF;
    font-weight: 800;
    text-align: center;
}
.section-subtitle{
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.colorful-btn{
    padding: 1rem 2.8rem;
    border: none;
    border-radius: 50px;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    background-color: rgb(230, 83, 60);
}
#unique-btn{
    padding: 1rem 2.8rem;
    border-radius: 50px;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    border: 2px solid white;
    background: transparent;
    margin-left: 1rem;
}
.display{
    display: block;
}


body{
    font-family: "Inter", sans-serif;
    background-color: black;
}
header{
    /* background-color: transparent; */
    background: linear-gradient(180.00deg, rgb(45, 45, 45),rgba(119, 119, 119, 0) 100%);
}
.linear-width{
    width: 80%;
    margin: 5rem auto;
}
/* Navbar Styles */
.navbar, .banner{
    width: 80%;
    margin: 0 auto;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 4rem;
}
.nav-title{
    font-size: 2.1rem;
    font-weight: 800;
    font-style: italic;
}
.nav-inputs{
    border: 2px solid rgba(255, 255, 255, 0.1);
    padding: 10px 25px 10px 2px;
    border-radius: 50px;
}
.nav-inputs > ul{
    display: flex;
    align-items: center;
    gap: 5rem;
}
.nav-inputs > ul > li{
    list-style: none;
}
.nav-inputs > ul > li > a{
    text-decoration: none;
}
#home{
    color: #FFFFFF;
    font-weight: 500;
    padding: 9px 25px;
    /* border: 2px solid white; */
    border-radius: 50px;
    background-color: rgb(230, 83, 60);
}
.hamburger-menu{
    display: none;
}

/* Banner Styles */
.banner{
    display: flex;
    gap: 10.5rem;
    align-items: center;
}
.banner-title{
    font-size: 5rem;
    font-weight: 900;
    line-height: 120%;
}
#shape{
    font-family: "Miama", sans-serif;
    font-size: 8rem;
    font-weight: 400;
}
.banner-subtitle{
    font-size: 1rem;
    font-weight: 400;
    margin-top: 1.7rem;
    margin-bottom: 1.7rem;
}
.banner-right{
    position: relative;
}
.float-1{
    width: 200px;
    height: 90px;
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 28px 23px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    background: rgba(48, 48, 48, 0.54);
    backdrop-filter: blur(20px);
    position: absolute;
    top: 400px;
    left: -150px;
}
.float-2{
    width: 210px;
    height: 90px;
    padding: 28px 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    background: rgba(48, 48, 48, 0.54);
    backdrop-filter: blur(20px);
    position: absolute;
    top: 140px;
    left: 230px;
}
.float-1-circle{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(230, 83, 60);
    border-radius: 50%;
}
.float-1-circle i{
    color: #FFFFFF;
    font-size: 15px;
}
.banner-right h4{
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 8px;
}
.banner-right p{
    font-size: 16px;
    font-weight: 400;
}

/* Change Your Habits Styles */
.habit-items{
    /* margin-left: 40px; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.habit-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.habit-item-img img{
    width: 100%;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    object-fit: cover;
}
.habit-item h4{
    font-size: 1rem;
    font-weight: 500;
    color: #FFFFFF;
    margin-top: 1rem;
    text-align: center;
}
.habit-item p{
    font-size: 0.5rem;
    font-weight: 400;
    color: #FFFFFF;
    margin-top: 0.6rem;
    text-align: center;
}

/* Training and Excercise Styling */
.training-title, .training-subtitle, .bmi-calculator-subtitle{
    text-align: left;
}
.bmi-calculator-subtitle{
    padding-bottom: 10px;
}
.kothin-content{
    display: grid;
    grid-template-columns: repeat(22, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
.kothin-item{
    /* width: 100%; */
    height: 17.5rem;
    /* border: 2px solid white; */
}
.kothin-item:nth-child(1){
    grid-column-start: span 6;
    background-image: linear-gradient(180deg, rgba(6, 255, 210, 0.5), rgba(6, 255, 210, 0.5)), url(../images/exercise1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.kothin-item:nth-child(2){
    grid-column-start: span 10;
    background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.3), rgba(255, 0, 0, 0.3)), url(../images/exercise2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.kothin-item:nth-child(3){
    grid-column-start: span 6;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/exercise3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.kothin-item:nth-child(4){
    grid-column-start: span 9;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/exercise4.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.kothin-item:nth-child(5){
    grid-column-start: span 6;
    background-image: linear-gradient(180deg, rgba(66, 255, 0, 0.3), rgba(66, 255, 0, 0.3)), url(../images/exercise5.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.kothin-item:nth-child(6){
    grid-column-start: span 7;
    background-image: linear-gradient(180deg, rgba(0, 71, 255, 0.3), rgba(0, 71, 255, 0.3)), url(../images/exercise6.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.kothin-item p{
    font-size: 0.9rem;
    font-weight: 400;
    color: #FFFFFF;
    margin-left: 24px;
    margin-top: 245px;
}

/* BMI Calculator Styles */
.bmi-content, table{
    margin-top: 70px;
}
.bmi-chart-title, .bmi-calculator-title{
    font-size: 2rem;
}
table{
    border-collapse: collapse;
}
th, td{
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 13px 18px;
}
.bmi-content{
    background: rgb(34, 34, 34);
}
.bmi-content-moddhe{
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
}
.bmi-calculate{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    position: relative;
}
.first-part > input, .second-part > input, .second-part > select, .third-part > select{
    width: calc(50% - 5px);
    border-radius: 8px;
    border: none;
    background: rgba(255, 255, 255, 0.1);
    padding: 12px 40px 12px 20px;
    outline: none;
}
input{
    color: #FFFFFF;
}
.third-part > select{
    width: calc(100% - 5px);
    border-radius: 8px;
    border: none;
    background: rgba(255, 255, 255, 0.1);
    padding: 12px 40px 12px 20px;
    outline: none;
    position: relative;
}
select{
    color: rgba(255, 255, 255, 0.5);
    appearance: none;
}
.second-part, .third-part{
    position: relative;
}
.second-part .fa-angle-down, .third-part .fa-angle-down{
    position: absolute;
    top: 32%;
    left: 93%;
}
option{
    color: #000000;
    background-color: rgb(115, 117, 114);
    font-family: Inter, sans-serif;
    font-size: 15px;
}
.calc-btn{
    width: 40%;
    margin-top: 30px;
}

/* Responsive Media Query */
@media screen and (max-width: 576px) {
    .navbar, .banner{
        width: 90%;
    }
    .nav-inputs{
        display: none;
    }
    .hamburger-menu{
        display: block;
        color: white;
        font-size: 25px;
        margin-right: 10px;
    }
    .banner{
        margin-top: 50px;
        flex-direction: column;
        gap: 5.5rem;
    }
    .banner-title{
        font-size: 2rem;
        font-weight: 800;
    }
    #shape{
        font-size: 3rem;
        font-weight: 400;
    }
    .banner-subtitle{
        width: 80%;
        font-size: 0.7rem;
    }
    .colorful-btn{
        padding: 0.5rem 1.4rem;
        font-size: 0.6rem;
        font-weight: 600;
    }
    #unique-btn{
        padding: 0.5rem 1.4rem;
        font-size: 0.6rem;
        font-weight: 600;
        margin-left: 0.7rem;
    }
    .display{
        display: none;
    }
    .float-1{
        width: 140px;
        height: 70px;
        gap: 8px;
        padding: 23px 18px;
        border-radius: 10px;
        top: 265px;
        left: 28px;
    }
    .float-2{
        width: 130px;
        height: 70px;
        padding: 23px 18px;
        top: 50px;
        left: 185px;
    }
    .float-1-circle{
        width: 30px;
        height: 30px;
    }
    .banner-right h4{
        font-size: 18px;
        font-weight: 800;
    }
    .banner-right p{
        font-size: 9px;
        font-weight: 400;
    }
    .habit-items{
        grid-template-columns: repeat(1, 1fr);
        row-gap: 40px;
    }
    .kothin-item{
        height: 6.25rem;
    }
    .kothin-item:nth-child(1){
        grid-column-start: span 11;
    }
    .kothin-item:nth-child(2){
        grid-column-start: span 11;
    }
    .kothin-item:nth-child(4){
        grid-column-start: span 9;
    }
    .kothin-item:nth-child(5){
        grid-column-start: span 13;
    }
    .kothin-item p{
        font-size: 0.5rem;
        margin-left: 5px;
        margin-top: 80px;
    }
    .bmi-content-moddhe{
        flex-direction: column;
    }
    .bmi-calculate{
        margin-top: 42px;
    }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
    .navbar, .banner{
        width: 90%;
    }
    .nav-inputs > ul{
        gap: 1rem;
    }
    .banner{
        margin-top: 50px;
        flex-direction: column;
        gap: 10.5rem;
    }
    .float-1{
        top: 350px;
        left: -30px;
    }
    .float-2{
        top: 70px;
        left: 200px;
    }
    .habit-items{
        grid-template-columns: repeat(2, 1fr);
        row-gap: 40px;
    }
    .kothin-item{
        height: 9.5rem;
    }
    .kothin-item:nth-child(1){
        grid-column-start: span 6;
    }
    .kothin-item:nth-child(2){
        grid-column-start: span 10;
    }
    .kothin-item:nth-child(3){
        grid-column-start: span 6;
    }
    .kothin-item:nth-child(4){
        grid-column-start: span 8;
    }
    .kothin-item:nth-child(5){
        grid-column-start: span 7;
    }
    .kothin-item:nth-child(6){
        grid-column-start: span 7;
    }
    .kothin-item p{
        font-size: 0.6rem;
        margin-left: 15px;
        margin-top: 130px;
    }
    .bmi-content-moddhe{
        flex-direction: column;
    }
    .bmi-calculate{
        margin-top: 42px;
    }
}